{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="row pt-3">
  <p class="lead">
    次にFavするべき <a href="https://yukicoder.me">Yukicoder</a> のいろいろが見付かるサイトです (非公式)
  </p>
</div>

<div class="row">
  <p> できた: </p>
  <ul>
    <li>「この問題をFavした人はこの問題もFavしています」</li>
  </ul>
</div>
<div class="row">
  <p> まだ: </p>
  <ul>
    <li>「この提出をFavした人はこの提出もFavしています」</li>
    <li>「このWikiをFavした人はこのWikiもFavしています」</li>
    <li>「この問題を解いた人はこの問題も解いています」</li>
    <li>「これらの問題を解いた人は次にこれらの問題を解くとよいでしょう」</li>
  </ul>
</div>

<div class="row">
  <form method="GET" action="/">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" name="name" class="form-control" placeholder="yukicoder username" {% if user_name %} value={{ user_name }} {% endif %} >
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Go!</button>
      </span>
    </div>
  </form>
</div>

{% if error_message %}
<div class="row pt-5">
  <p class="alert alert-error">
    <strong>Error</strong>: {{ error_message|safe }}
  </p>
</div>
{% endif %}

{% if recommended_problems %}
<div class="row pt-5">
  <h1>Recommended Problems</h1>
  <table class="table table-condensed table-bordered table-hover">
    <thead>
      <tr>
        <th>問題</th>
        <th>評価値</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in recommended_problems %}
      <tr>
        <td>{{ problem.link|safe }}</td>
        <td>{{ problem.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

</div>

{% endblock %}
